/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefff;
  --text-color: #000015;
  --input-background: #ababbb;
}

body {
  font-family: Roboto, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color);
  color: var(--text-color);
}
